@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding-left: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #212529;
    
    
        
}

:root {
    --Danger:rgb(35, 166, 240);
    --Dark:rgb(255, 255, 255);
    --Success: rgb(35, 166, 240);
    --xs: 32px;
    --sm: 21px;
    --md: 21px;
    --lg: 45px;
    --margin-block: 110px;
    --font: Poppins;
    --border-radius: 6px;
}
.icon{
    border-radius: 5px;
}
.page-header{
    background-color:#101113;;
    margin: 0%;
    padding: 0%;
    
}



.content {
    display: flex;
    align-items: center;
    margin: 0%;
    
}
.header-logo{
    margin-right: 20px;
    text-align: left;
    margin-left: 240px;
    gap: 5px;
}
.img{
    margin-top: 10px;
    margin-bottom: -15px;
    width: 80px;
    height: 80px;
}
.search_block{
    margin: 10px;
    font-size: 24px;
    height: 50px;
    border-radius: 5px;
    border-color: aliceblue;
}
.header-nav {
    display: flex;
    gap: 50px;
    margin-top: 25px;
}

.header-nav_link{
    color: var(--Dark);
    font-family: var(--font);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
}

.header-nav_link:hover{
    color: blue;
}

.header-button{
    background-color: #212529;
    color: var(--Dark);
    font-size: 20px;

}
.header-button:hover{
    padding: 10px;
    border-color: aliceblue;
    border-radius: 25px;
}

.page-section-one{
    height: 500px;
    padding-top: 80px;
    display: flex;
}
.section-h-one{
    color: rgb(141, 207, 34);
    font-size: 48px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
  
}

.section-h-two{
    color: rgb(141, 207, 34);
    font-size: 48px;
    margin-left: 350px;
    margin-bottom: 20px;
     
}
.section-h-three{
    color: rgb(141, 207, 34);
    font-size: 48px;
    margin-left: 150px;
    margin-bottom: 20px;
     
}
.mashxur-gap {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: right;
}

.html {
    margin-left: 111px;
    width: 100px;
    height: 100px;
}
.css{
    margin-left: 200px;
    width: 100px;
    height: 100px;
}
.python{
    width: 120px;
    height: 120px;
    margin-left: 225px;
}
.java {
    width: 100px;
    height: 100px;
    margin-left: 100px;
}
.js{
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

.page-section-two {
    background-color:#212529;
    height: 500px;

}
.video {
    display: flex;
    gap: 50px;
    margin-left: 80px;
    padding-top: 80px;
}
h5{
    color: aqua;
    font-size: 20px;
}
a{
    color: red;
    text-decoration: underline;
}
a:hover {
    color: aqua;
}
.dars{
    width: 300px;
    height: 230px;
    box-shadow: 2px 5px 10px rgb(250, 246, 44);
}
.dars:hover{
    margin-top: 5px;
    box-shadow: 2px 5px 10px rgb(250, 75, 44);
}
.row-two{
    display: flex;
    background-color: #212529;
    gap: 50px;
    padding-left: 80px;
    padding-top: 50px;
    height: 500px;
}
.taklif{
    background-color: #212529;
    text-align: center;
    height: 350px;
    
}
.footer-h2{
    color: white;
    font-size: 32px;
    text-align: center;
}
.footer-p{
    color: white;
    font-size: 24px;
}
h3{
    color: white;
}
.aa{
    color: rgb(33, 47, 248);
    text-decoration: underline;
}
.xabar{
    height: 130px;
    width: 1200px;
    border: 1px solid white;
    background-color: #101113;
    border-radius: 5px;
    color: aliceblue;
}
.aaa{
    border: 1px solid greenyellow;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: -1px 6px 10px  rgb(243, 144, 144);
}
@media  screen and (max-width:975px) {
    body{
        padding-left: 20px;
    }
    .video{
        flex-direction: column;
    }
    .row-two{
        flex-direction: column;
    }
    .section-h-one{
        font-size: 30px;
        

    }
        
    
    
}